# Optional: use for local dev; app prioritizes session state (manual entry)
DOVETAIL_API_KEY=api.4d66gVEw5E11ykypE1HJse.7rSFjME4k4zHos21AkfvTW
PRODUCTBOARD_API_KEY=eyJ0eXAiOiJKV1QiLCJraWQiOiJiZDk0NDc3ZmNiZWQzNjkxMDdmYzk5OGJkNTY4NTdiMzZmOTgxOGVjOGZjNTVjZDc5NThmMjIzMmVhMjhhYTE5IiwiYWxnIjoiUlM1MTIifQ.eyJpYXQiOjE3NzE4MTg2NjIsImlzcyI6ImRhODY3YmI3LTE0MGEtNDljYi04OTE1LWM5MzU3YTRjYTZkZSIsInN1YiI6IjcxMzg4NSIsInJvbGUiOiJhZG1pbiIsImF1ZCI6Imh0dHBzOi8vYXBpLnByb2R1Y3Rib2FyZC5jb20iLCJ1c2VyX2lkIjo3MTM4ODUsInNwYWNlX2lkIjoiMTgzMDgxIiwicmVnaW9uIjoidXMifQ.IqSEcKPUyn4YJHq6WvpHWIli1-x6RHOTUun42Tift5xkH0JGv5HR8fol07udpok9ZBcDvs3CTH8M5koPFhRDvPkcqUJnjuy5WpM8VSjz3cf0tlubmeNJf7hvOEdlPwDF0FC8Nua_SD176s9bVpq9IDwlnKeF1cdsAamMvHT8jJiHpk8F5f_yitMu1Gup5PjxEr2YMhy_wkoeD5PV3PFxHdgijgxY-6i8F-lxwwb_OmPkCzAuiueomPe5HaKxNQ9wJ_1y3QtdpU187J8Az9e4ePzl112Xd5mCRYCe40TTLqN0PcBm-8-7eQER_bIo7T6z1Hqoe7ETbfh9UUjkZv5LNA
 
CONFLUENCE_API_KEY="ashawish@geoforce.com:ATATT3xFfGF0jzBWyCnDUB8Xu7XWcrplKGQt90UmnWlwlm8MS_zxQFako96eJlVEvd_dzxue7bzAzws8XXfDRXeJEtGNElKIr1nTgRUJsDPVrUgdVH-b9l5zfET7EJahcFx1Qz-e_Be5p7cv5yMgG1-3WwUL7H0J6EYfthTdH5Yy3DEvQUMtWVQ=32BA1FC8"
CONFLUENCE_BASE_URL=https://geoforce.atlassian.net/wiki
CONFLUENCE_SPACE=PMAD
